.l-row {
  max-width: $desktop;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: rem-calc(40);
  @include tablet {
    grid-template-columns: 1fr 1fr;
  }
  @include desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.l-col12 {
  grid-column-start: 1;
  grid-column-end: 2;
  @include tablet {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  @include desktop {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
