<section class='l-container'>
  <div class='l-row'>
    <article class='l-col12'>
      <h1 class='fnt__h1'>This is heading 1</h1>
      <h2>This is heading 2</h2>
      <h3>This is heading 3</h3>
      <h4>This is heading 4</h4>
      <h5>This is heading 5</h5>
      <h6>This is heading 6</h6>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nemo
        eius reprehenderit in. Quae recusandae excepturi voluptate minima sit
        possimus aut tenetur, reprehenderit, nesciunt perspiciatis illo maxime,
        odio facilis earum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
        deleniti, quidem quisquam consectetur libero odio ducimus dignissimos
        maiores eum velit dolores beatae magnam a eaque amet excepturi omnis qui
        doloremque! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Unde, eveniet repellat omnis veniam facere quibusdam magnam asperiores,
        officia, mollitia voluptates illum esse cumque quo quis! Et incidunt
        quis natus quibusdam. Lorem ipsum, dolor sit.
      </p>

      <strong>This is the strong text</strong>

      <em>This is the emphasized text</em>

      <mark>This is the marked text</mark>

      <ul>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
        <li>List item 4</li>
        <li>List item 5</li>
      </ul>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
        deleniti, quidem quisquam consectetur libero odio ducimus dignissimos
        maiores eum velit dolores beatae magnam a eaque amet excepturi omnis qui
        doloremque! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Unde, eveniet repellat omnis veniam facere quibusdam magnam asperiores,
        officia, mollitia voluptates illum esse cumque quo quis! Et incidunt
        quis natus quibusdam. Lorem ipsum, dolor sit.
      </p>
      <ol>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
        <li>List item 4</li>
        <li>List item 5</li>
      </ol>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
        deleniti, quidem quisquam consectetur libero odio ducimus dignissimos
        maiores eum velit dolores beatae magnam a eaque amet excepturi omnis qui
        doloremque! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Unde, eveniet repellat omnis veniam facere quibusdam magnam asperiores,
        officia, mollitia voluptates illum esse cumque quo quis! Et incidunt
        quis natus quibusdam. Lorem ipsum, dolor sit.
      </p>
      <button type='button'>Button type 1</button>
      <button type='button'>Button type 2</button>
      <button type='button'>Button type 3</button>
    </article>
  </div>
</section>