<section class='l-container posts'>
  <div class='l-row'>
    <header class='l-col12'>
      <h2 class='fnt__titleBig'>Posts</h2>
    </header>
  </div>
  <div class='l-row'>
    <article class='l-col3'>
      <h2>Title</h2>
      <p>some copy</p>
      <img src='https://dummyimage.com/600x400/000/fff' />
    </article>
    <article class='l-col3'>
      <h2>Title</h2>
      <p>some copy</p>
      <img src='https://dummyimage.com/600x400/000/fff' />
    </article>
    <article class='l-col3'>
      <h2>Title</h2>
      <p>some copy</p>
      <img src='https://dummyimage.com/600x400/000/fff' />
    </article>
    <article class='l-col3'>
      <h2>Title</h2>
      <p>some copy</p>
      <img src='https://dummyimage.com/600x400/000/fff' />
    </article>
    <article class='l-col3'>
      <h2>Title</h2>
      <p>some copy</p>
      <img src='https://dummyimage.com/600x400/000/fff' />
    </article>
  </div>
</section>